[Unit]
Description=SymLink - IOT Gateway Application
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/mnt/sympad/LDog.ex
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
