[Unit]
Description=Setup TAP interfaces for NetworkManager
After=network.target NetworkManager.service symbridge.service
Requires=NetworkManager.service symbridge.service

[Service]
Type=oneshot
ExecStart=nmcli con up br-symbridge
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
