# -*- conf -*-

[Unit]
Description=SymLink Netowrk Bridge service
After=network-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd -n symbridge
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
