# -*- conf -*-

[Unit]
Description=SymLink Network Router Serivce
After=network-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/tincd -n symrouter
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
